<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <body>
            <h1> This is my Home Page calling via mustache template...</h1>
             <h2>Below is static asset calling</h2>
            <img src="/images/download.jfif" height="100"/>
        </body>
    </head>
</html>


